@model UserRequest

@{
    ViewBag.Title = "Create a user";
    ViewBag.Action = "Create";
    ViewBag.ButtonText = "Create";
}

<h1>Create a user</h1>

<hr />

<partial name="_UserForm" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        toggleWarning();
        $("#IsConfirmed").change(toggleWarning);

        function toggleWarning() {
            $("#user-not-confirmed-warning").css("display", $("#IsConfirmed").is(":checked") ? "none" : "");
        }
    </script>
}
