@model UserResponse

@{
    ViewBag.Title = "User details";
}

<h1>User details</h1>

<hr />

<partial name="_UserProfileInfo" />

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
</div>
