@model UserRequestAdmin

@{
    ViewData["Title"] = "Edit user";
    ViewBag.Action = "Edit";
    ViewBag.ButtonText = "Save";
}

<h1>Edit user</h1>

<hr />

<partial name="_UserForm" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#password-select").on("change", function () {
            $("#password-fieldset").css("display", this.value == "change" ? "" : "none");
        });
        $("input[type='submit']").click(() => {
            if ($("#password-select").val() == "keep")
                $("input[type='password']").val("keep-password");
        });
    </script>
}
