<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - RwaMovies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RwaMovies.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Videos" asp-action="Index">RwaMovies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-wrap">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tags" asp-action="Index">Tags</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Profile">My profile</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="~/sites/notifications.html">Notifications</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/swagger" target="_blank">
                                Swagger
                                <img class="icon" src="~/images/new-tab-icon.png" />
                            </a>
                        </li>
                    </ul>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <div class="text-end">
                            <span>Signed in as <b>@User.Identity.Name</b></span>
                            <form asp-action="Logout" asp-controller="Auth" class="d-inline-block">
                                <button type="submit" style="all: unset; cursor: pointer" class="text-dark ps-2 ms-1 border-start border-secondary">
                                    Sign out
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted mt-auto text-center">
        <div class="container my-4">
            &copy; 2023 - RwaMovies - Kristijan Rosandić <br />
            <a href="https://github.com/ChrisRoss5/RwaMovies">GitHub</a> -
            <a href="/documents/specs-en.pdf">Specs EN</a> -
            <a href="/documents/specs-hr.pdf">Specs HR</a> -
            <a href="https://k1k1.dev">k1k1.dev</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
