@model IEnumerable<RwaMovies.DTOs.TagDTO>

@{
    ViewData["Title"] = "Tags";
}

<section class="d-flex align-items-center flex-wrap g-4">
    <partial name="_SectionTitle" />
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <partial name="_ItemOptions" model="item.Id" />
            </tr>
        }
    </tbody>
</table>
