@model NewPasswordRequest

@{
    ViewBag.Title = "Change password";
}

<h1>Change password</h1>

<hr />

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success">Password changed successfully!</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthRequest.Password" class="control-label"></label>
                <input asp-for="AuthRequest.Password" class="form-control" />
                <span asp-validation-for="AuthRequest.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword1" class="control-label"></label>
                <input asp-for="NewPassword1" class="form-control" />
                <span asp-validation-for="NewPassword1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword2" class="control-label"></label>
                <input asp-for="NewPassword2" class="form-control" />
                <span asp-validation-for="NewPassword2" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
