@model UserResponse

@{
    ViewBag.Title = "My profile";
}

<h1>My profile</h1>

<hr />

<partial name="_UserProfileInfo" />

<div>
    <a asp-action="ChangePassword" class="btn btn-primary">Change password</a>
</div>
