@model CountriesVM

@{
    ViewBag.Title = "Countries";
}

<section class="d-flex align-items-center flex-wrap g-4">
    <partial name="_SectionTitle" />
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Countries[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Countries[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Countries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <partial name="_ItemOptions" model="item.Id" />
            </tr>
        }
    </tbody>
</table>

@{
    ViewBag.useAjax = false;
    ViewBag.PageCount = Model.PageCount;
    ViewBag.PageNum = Model.PageNum;
    <partial name="_Pagination" />
}
