img {
    aspect-ratio: 21/9;
    object-fit: cover;
}

    img[src*="placeholder"] {
        object-fit: contain;
    }

.video-description {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card {
    transition: transform 250ms;
}

    .card:hover {
        transform: scale(1.05);
        z-index: 1;
    }
