@model VideoFormVM

@{
    ViewBag.Title = "Create a video";
    ViewBag.Action = "Create";
    ViewBag.ButtonText = "Create";
}

<h1>Create a video</h1>

<hr />

<partial name="_VideoForm" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}