@model VideoFormVM

@{
    ViewData["Title"] = "Edit video";
    ViewBag.Action = "Edit";
    ViewBag.ButtonText = "Save";
}

<h1>Edit video</h1>

<hr />

<partial name="_VideoForm" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#image-select").on("change", function () {
            $("#image-input-container").css("display", this.value == "change" ? "" : "none");
        });
    </script>
}